[submodule "themes/hugo-academic"]
	path = themes/hugo-academic
	url = https://github.com/s-okai/hugo-academic
[submodule "public"]
	path = public
	url = https://github.com/Cub3m4st3r/ernest-lee.github.io.git
	branch = master
